<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Account</title>
        <link rel="stylesheet" type="text/css" href="/styles/account.css"/>
        <link rel="stylesheet" type="text/css" href="/styles/overlay.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="/__/firebase/7.2.1/firebase-app.js"></script>
        <script src="/__/firebase/7.2.1/firebase-auth.js"></script>
        <script src="/__/firebase/7.2.1/firebase-functions.js"></script>
        <script src="/__/firebase/init.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/location.js"></script>
        {{#if localhost}} <script src="/scripts/localhost.js"></script>{{/if}}
        <script src="/scripts/account.js"></script>
    </head>
    <body>
        <div id="overlay" class="overlay hide">
            <div class="spinner"></div>
        </div>
        <div class="viewport">
            <div class="header">
                <div class="head">{{displayName}}'s Account</div>
            </div>
            <div class="content">
                <div class="aside">
                    <a id="home" onclick="accountNavigateTo(this)" class="button {{#equals navigation "home"}}selected{{else}}unselected{{/equals}}">
                        <i class="material-icons">person</i>
                        <div>Home</div>
                    </a>
                    <a id="upload" onclick="accountNavigateTo(this)" class="button {{#equals navigation "upload"}}selected{{else}}unselected{{/equals}}">
                        <i class="material-icons">assignment</i>
                        <div>Upload Notes</div>
                    </a>
                    <a id="personal_information" onclick="accountNavigateTo(this)" class="button {{#equals navigation "personal_information"}}selected{{else}}unselected{{/equals}}">
                        <i class="material-icons">recent_actors</i>
                        <div>Personal Information</div>
                    </a>
                    <a id="history" onclick="accountNavigateTo(this)" class="button {{#equals navigation "history"}}selected{{else}}unselected{{/equals}}">
                        <i class="material-icons">update</i>
                        <div>History</div>
                    </a>
                    <a id="settings" onclick="accountNavigateTo(this)" class="button {{#equals navigation "settings"}}selected{{else}}unselected{{/equals}}">
                        <i class="material-icons">settings</i>
                        <div>Settings</div>
                    </a>
                    <a class="button unselected" onclick="gotoIndex()">
                        <i class="material-icons">arrow_back</i>
                        <div>Return</div>
                    </a>
                </div>
                {{#equals navigation "home"}}
                <div class="infoWrapper">
                    <div class="information">
                        <img class="infoAvatar" style="background-color: {{imgColor}}" src="{{imgUrl}}" alt="Avatar">
                        <div class="infoHeader">Welcome, {{displayName}}</div>
                        <div class="infoBox">
                            <div class="infoBoxRow">
                                <div class="infoDisplay">
                                    <div class="infoDisplayHeader">
                                        <div>Contribute Your Notes</div>
                                    </div>
                                    <div class="infoDescription">
                                        Upload Your Notes to our Website!
                                    </div>
                                    <a id="upload" onclick="accountNavigateTo(this)" class="infoButton">
                                        <div>Upload Notes Here</div>
                                    </a>
                                </div>
                                <div class="infoDisplay">
                                    <div class="infoDisplayHeader">
                                        <div>Account Personal Information</div>
                                    </div>
                                    <div class="infoDescription">
                                        Update your personal information including being able to change your password
                                    </div>
                                    <a id="personal_information" onclick="accountNavigateTo(this)" class="infoButton">
                                        <div>Manage your personal information</div>
                                    </a>
                                </div>
                            </div>
                            <div class="infoBoxRow">
                                <div class="infoDisplay">
                                    <div class="infoDisplayHeader">
                                        <div>Review Your Upload History</div>
                                    </div>
                                    <div class="infoDescription">
                                        Check out all notes that you have uploaded through this account
                                    </div>
                                    <a id="history" onclick="accountNavigateTo(this)" class="infoButton">
                                        <div>Go to your history</div>
                                    </a>
                                </div>
                                <div class="infoDisplay">
                                    <div class="infoDisplayHeader">
                                        <div>Personalize your Account</div>
                                    </div>
                                    <div class="infoDescription">
                                        Change your theme or modify other settings
                                    </div>
                                    <a id="settings" onclick="accountNavigateTo(this)" class="infoButton">
                                        <div>Change settings</div>
                                    </a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/equals}}
                {{#equals navigation "upload"}}
                <div class="infoWrapper">
                    <div class="information">
                        <div class="infoHeader">Upload Notes</div>
                        <div class="infoBox">
                            <div class="notesContent">
                                <textarea class="notesText" maxlength="2621440"></textarea>
                                <a class="notesSubmit"><div>Submit Notes</div></a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/equals}}
                {{#equals navigation "personal_information"}}
                <div class="infoWrapper">
                    <div class="information">
                        <div class="infoHeader">Peronal Information</div>
                        <div class="updateBox">
                            <div class="updateHeader">Profile</div>
                            <div class="updateDescription">Update information of your profile</div>
                            <div class="updateInput">

                            </div>
                        </div>
                        <a class="profileUpdate updateDisabled"><div>Update Profile</div></a>
                    </div>
                </div>
                {{/equals}}
                {{#equals navigation "history"}}
                <div class="infoWrapper"></div>
                    <div class="information">
                        History Goes Here
                    </div>
                </div>
                {{/equals}}
                {{#equals navigation "settings"}}
                <div class="infoWrapper">
                    <div class="information">
                        Settings Goes Here
                    </div>
                </div>
                {{/equals}}
            </div>
        </div>
    </body>
</html>