<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Account</title>
        <link rel="stylesheet" type="text/css" href="/styles/account.css"/>
        <link rel="stylesheet" type="text/css" href="/styles/overlay.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="/__/firebase/7.2.1/firebase-app.js"></script>
        <script type="text/javascript" src="/__/firebase/7.2.1/firebase-auth.js"></script>
        <script type="text/javascript" src="/__/firebase/7.2.1/firebase-functions.js"></script>
        <script type="text/javascript" src="/__/firebase/init.js"></script>
        <script type="text/javascript" src="/scripts/constants.js"></script>
        <script type="text/javascript" src="/scripts/cookiefy.js"></script>
        {{#if localhost}} <script type="text/javascript" src="/scripts/localhost.js"></script>{{/if}}
        {{#equals navigation "upload"}}<script type="text/javascript" src="/scripts/custom_file_input.js"></script>{{/equals}}
        <script type="text/javascript" src="/scripts/account.js"></script>
    </head>
    <body {{#if alertMessage}}onload="uploadAlert()"{{/if}}>
        <div id="overlay" class="overlay hide">
            <div class="spinner"></div>
        </div>
        <div class="viewport">
            <div class="header">
                <div class="head">{{displayName}}'s Account</div>
            </div>
            <div class="content">
                <div class="aside">
                    <a {{#equals navigation "home"}}{{else}}href="/account?navigation=home"{{/equals}} class="button {{#equals navigation "home"}}selected{{else}}unselected{{/equals}}">
                        <i class="material-icons">person</i>
                        <div>Home</div>
                    </a>
                    <a {{#equals navigation "upload"}}{{else}}href="/account?navigation=upload"{{/equals}} class="button {{#equals navigation "upload"}}selected{{else}}unselected{{/equals}}">
                        <i class="material-icons">assignment</i>
                        <div>Upload Notes</div>
                    </a>
                    <a {{#equals navigation "personal_information"}}{{else}}href="/account?navigation=personal_information"{{/equals}} class="button {{#equals navigation "personal_information"}}selected{{else}}unselected{{/equals}}">
                        <i class="material-icons">recent_actors</i>
                        <div>Personal Information</div>
                    </a>
                    <a {{#equals navigation "history"}}{{else}}href="/account?navigation=history"{{/equals}} class="button {{#equals navigation "history"}}selected{{else}}unselected{{/equals}}">
                        <i class="material-icons">update</i>
                        <div>History</div>
                    </a>
                    {{#if localhost}}
                    <a {{#equals navigation "settings"}}{{else}}href="/account?navigation=settings"{{/equals}} class="button {{#equals navigation "settings"}}selected{{else}}unselected{{/equals}}">
                        <i class="material-icons">settings</i>
                        <div>Settings</div>
                    </a>
                    {{/if}}
                    <a class="button unselected" href="/">
                        <i class="material-icons">arrow_back</i>
                        <div>Return</div>
                    </a>
                </div>
                {{#equals navigation "home"}}
                <div class="infoWrapper">
                    <div class="information">
                        <img class="infoAvatar" style="background-color: {{imgColor}}" src="{{imgUrl}}" alt="Avatar">
                        <div class="infoHeader">Welcome, {{displayName}}</div>
                        <div class="infoBox">
                            <div class="infoBoxRow">
                                <div class="infoDisplay">
                                    <div class="infoDisplayHeader">
                                        <div>Contribute Your Notes</div>
                                    </div>
                                    <div class="infoDescription">
                                        Upload Your Notes to our Website!
                                    </div>
                                    <a href="/account?navigation=upload" class="infoButton">
                                        <div>Upload Notes Here</div>
                                    </a>
                                </div>
                                <div class="infoDisplay">
                                    <div class="infoDisplayHeader">
                                        <div>Account Personal Information</div>
                                    </div>
                                    <div class="infoDescription">
                                        Update your personal information including being able to change your password
                                    </div>
                                    <a href="/account?navigation=personal_information" class="infoButton">
                                        <div>Manage your personal information</div>
                                    </a>
                                </div>
                            </div>
                            <div class="infoBoxRow">
                                <div class="infoDisplay">
                                    <div class="infoDisplayHeader">
                                        <div>Review Your Upload History</div>
                                    </div>
                                    <div class="infoDescription">
                                        Check out all notes that you have uploaded through this account
                                    </div>
                                    <a href="/account?navigation=history" class="infoButton">
                                        <div>Go to your history</div>
                                    </a>
                                </div>
                                {{#if localhost}}
                                <div class="infoDisplay">
                                    <div class="infoDisplayHeader">
                                        <div>Personalize your Account</div>
                                    </div>
                                    <div class="infoDescription">
                                        Change your theme or modify other settings
                                    </div>
                                    <a href="/account?navigation=settings" class="infoButton">
                                        <div>Change settings</div>
                                    </a> 
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/equals}}
                {{#equals navigation "upload"}}
                <div class="infoWrapper">
                    <div class="information">
                        <div class="infoHeader">Upload Notes</div>
                        <div class="infoBox">
                            <div class="notesContent">
                                <a class="collapsible" onclick="toggle_content()"><div id="uploadCollapsibleText">Upload Text</div></a>
                                <div id="formContent" class="collapsible_content show">
                                    <form class="uploadForm" method="POST" onsubmit="showOverlay(false)" action="/account" enctype="multipart/form-data">
                                        <div class="uploadSelect">
                                            <input id="fileInput" name="file[]" class="uploadInputFile" type="file" name="file" data-multiple-caption="{count} files selected" multiple required/>
                                            <label id="fileLabel" class="uploadFileLabel" for="fileInput">
                                                <i class="material-icons uploadFileIcon">note_add</i>
                                                <div id="fileText" class="uploadFileText">Choose a file...</div>
                                            </label>
                                        </div>
                                        <a id="submitFiles" onclick="submitFiles()" class="notesSubmit">
                                            <input id="fileSubmitInput" type="submit" class="fileSubmit">
                                            <div>Submit Files</div>
                                        </a>
                                    </form>
                                </div>
                                <div id="uploadContent" class="collapsible_content hide">
                                    <textarea id="uploadedNotes" class="notesText" maxlength="2621440" placeholder="Paste note text here" spellcheck="true" required></textarea>
                                    <div id="submitSuccess" class="submitResult success hide"></div>
                                    <div id="submitError" class="submitResult error hide"></div>
                                    <a id="submitNotes" onclick="uploadTextOnly()" class="notesSubmit"><div>Submit Notes</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/equals}}
                {{#equals navigation "personal_information"}}
                <div class="infoWrapper">
                    <div class="information">
                        <div class="infoHeader">Personal Information</div>
                        <div class="updateBox">
                            <div class="updateHeader">Profile</div>
                            <div class="updateDescription">Update information of your profile</div>
                            <div class="inputs">
                                <div class="updateInput">
                                    <div class="updateKey">Email</div>
                                    <input id="newEmail" oninput="checkEmail()" class="updateValue" type="email" placeholder={{email}} autocomplete="new-username">
                                    <button id="newEmailButton" onclick="updateEmail()" class="updateSubmit" disabled><div>Update</div><i class="material-icons">send</i></a>
                                </div>
                                <div class="updateInput">
                                    <div class="updateKey">Name</div>
                                    <input id="newDisplayFirstName" oninput="checkDisplayName()" class="updateValue" type="text" placeholder='First Name' autocomplete="new-name">
                                    <input id="newDisplayLastName" oninput="checkDisplayName()" class="updateValue" type="text" placeholder='Last Name' autocomplete="new-name">
                                    <button id="newDisplayNameButton" onclick="updateDisplayName()" class="updateSubmit" disabled><div>Update</div><i class="material-icons">send</i></a>
                                </div>
                            </div>
                            <div id="profileError" class="updateError hide"></div>
                            <div id="profileSuccess" class="updateSuccess hide"></div>
                        </div>
                        {{#equals provider "password"}}
                        <div class="updateBox">
                            <div class="updateHeader">Security</div>
                            <div class="updateDescription">Update private profile information</div>
                            <div class="inputs">
                                <div class="updateInput">
                                    <div class="updateKey">Password</div>
                                    <input id="newPassword" oninput="checkPassword()" class="updateValue" type="password" placeholder="New Password" autocomplete="new-password">
                                    <input id="newConfirmPassword" oninput="checkPassword()" class="updateValue" type="password" placeholder="Confirm New Password" autocomplete="new-password">
                                    <button id="newPasswordButton" onclick="updatePassword()" class="updateSubmit" disabled><div>Update</div><i class="material-icons">send</i></a>
                                </div>
                            </div>
                            <div id="securityError" class="updateError hide"></div>
                            <div id="securitySuccess" class="updateSuccess hide"></div>
                        </div>
                        {{/equals}}
                    </div>
                </div>
                {{/equals}}
                {{#equals navigation "history"}}
                <div class="infoWrapper">
                    <div class="information">
                        <div class="dates">
                        {{#each history}}
                            <div class="dateElement {{#mod2 @index}}light{{else}}dark{{/mod2}}">
                                <div class="filename">{{this.filename}}</div>
                                <div class="date">{{this.date}}</div>
                            </div>
                        {{/each}}
                        </div>
                    </div>
                </div>
                {{/equals}}
                {{#equals navigation "settings"}}
                <div class="infoWrapper">
                    <div class="information">
                        No Settings Currently
                    </div>
                </div>
                {{/equals}}
            </div>
        </div>
        {{#if alertMessage}}
        <script>
            function uploadAlert() {
                alert(" {{alertMessage}} ")
            }
        </script>
        {{/if}}
    </body>
</html>