<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome To IBMCSA!</title>
        <link rel="stylesheet" type="text/css" href="/styles/index.css"/>
        <link rel="stylesheet" type="text/css" href="/styles/overlay.css"/>
        <script type="text/javascript" src="/__/firebase/7.2.1/firebase-app.js"></script>
        <script type="text/javascript" src="/__/firebase/7.2.1/firebase-auth.js"></script>
        <script type="text/javascript" src="/__/firebase/7.2.1/firebase-functions.js"></script>
        <script type="text/javascript" src="/__/firebase/init.js"></script>
        <script type="text/javascript" src="/scripts/jquery-3.4.1.min.js"></script>
        {{#if localhost}} <script type="text/javascript" src="/scripts/localhost.js"></script>{{/if}}
        <script type="text/javascript" src="/scripts/constants.js"></script>
        <script type="text/javascript" src="/scripts/cookiefy.js"></script>
        <script type="text/javascript" src="scripts/index.js"></script>
    </head>
    <body>
        <div id="overlay" class="overlay hide">
                <div class="spinner"></div>
        </div>
        <div class="viewport">
            <div class="header">
                <div class="account">
                    {{#if user}}
                    <a class="accountButton" onclick="toggleAccountPanel()">
                        <img id="avater" class="accountImage headerImage" style="background-color: {{imgColor}}" src="{{imgUrl}}" alt="Avatar">
                    </a>
                    <div id="accountPanel" class="panel hide">
                        <div class="panelHead">
                            <img id='panelImg' class="accountImage panelImage" style="background-color: {{imgColor}}" src="{{imgUrl}}" alt="Avatar">
                            <div class="accountData">
                                <div id="userName" class="userName">{{displayName}}</div>
                                <div id="userEmail" class="userEmail">{{email}}</div>
                                <a href='/account' class="userAccount bg"><div>CSA Account</div></a>
                            </div>
                        </div>
                        <div class="panelTail">
                            <a class="signout" onclick="signOut()"><div>Sign out</div></a>
                        </div>
                    </div>
                    {{else}}
                    <a id="signin" href="/signin" class="signIn bg"><div>Sign in</div></a>
                    {{/if}}
                </div>
            </div>
            <div class="content">
                <div class="chattingBox">
                    <div class="chatWrapper">
                        <div id="chatBox" class="chatBox"></div>
                    </div>
                    <form action="javascript:void(0)" onsubmit="queryFirebase()" class="chatForm">
                        <input id="querySearch" class="chatMessage" type="search">
                        <button id="querySearch" class="chatSubmit" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>